<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <title>blinq - your world in the blinq of an eye</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>

  <h1>
        <!-- <%= link_to image_tag("/assets/stack-logo.png"), root_path %> -->

    </h1>

    <nav>
        <!-- <%= link_to "Top", root_path %>
        <%= link_to "Recent", root_path(sort: "recent") %>
        <%= link_to "Featured", root_path(sort: "featured") %> -->

        <%= link_to "blinq now", new_post_path %>
    </nav>
 

</header>

<section class="content">
<%= yield %>
</section>


</body>
</html>
